﻿<div layout="row">
    <div flex>
        <md-subheader class="md-no-sticky">
            <div class="text-center">
                <md-toolbar class="md-accent md-small" layout="column">
                    <div class="md-toolbar-tools md-toolbar-tools-top" layout="row"
                            layout-align="space-between center">
                        Comment
                    </div>
                </md-toolbar>
            </div>
        </md-subheader>
    </div>
</div>
