<div layout="row">
    <div flex>
        <md-content layout-xs="column" layout="row">
            <md-card style="background-color:white">
                <div style="background-color:white" layout-align="center center">
                    <img src="assets/images/logos/emerge-q.png" class="logo" />
                </div>
                <md-card-content>
                    <ms-form-wizard flex>
                        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                            <md-tab>
                                <md-tab-body>
                                    <div>
                                        <span><h2>Create or Edit a Survey</h2></span>
                                    </div>
                                    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                        <md-button class="md-primary md-raised" ng-click="showTabDialog($event)">
                                            Create a question
                                        </md-button>
                                    </form>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                        <div class="navigation" flex layout="row" layout-align="center center">
                            <!--<md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()">
                                Previous
                            </md-button>
                            <div class="steps">
                                <span ng-repeat="form in msWizard.forms" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                            </div>
                            <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()" ng-hide="msWizard.isLastStep()" ng-disabled="msWizard.currentStepInvalid()">
                                Next
                            </md-button>-->
                            <md-button class="md-fab md-primary"  aria-label="submit" ng-click=" vm.sendForm(); msWizard.resetForm();" ng-show="msWizard.isLastStep()" ng-disabled="msWizard.formsIncomplete()">
                                Submit
                            </md-button>
                        </div>
                    </ms-form-wizard>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>

