﻿#backgroundStyle {
        position: absolute;
        background-image: url({{vm.welcomeScreenURL}});
        background-repeat: no-repeat;
        width: 100%;
        height: 100%; /* Change to the height you need */
        top: 0px;
        left: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:white;
    }
.dialogdemoBasicUsage #popupContainer {
  position: relative; }


.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }