﻿        .attachment-list {
            font-size: 13px;
            padding-top: 16px;

    .attachment {
        background-color: rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(0, 0, 0, 0.16);
        padding-left: 16px;
        margin-top: 8px;
        border-radius: 2px;

        .filename {
            font-weight: 500;
        }

        .size {

        }

        .md-button {
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

        .md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  /*background-image:url(../../../../assets/images/backgrounds/service-button2.jpg)*/
  background-color:#754456
}

/*.card-bg{
    background-image:url("../../../../assets/images/backgrounds/background5.jpg");
    background-size:cover;
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
}*/

.title{
    color: white;
}

.buttons{
    background-color: #8a485c;
    color: white;
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.content{
    background-color: #ffffff;
    color: #525252;
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
