﻿<div layout="row">
    <div flex>
        <md-content class="md-padding">
            <div layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="title"><h2>Information</h2></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-input-container class="md-icon-float md-block">
                            <label style="color:white">Name</label>
                            <md-icon md-font-icon="icon-account" style="color:white"></md-icon>
                            <input ng-model="vm.customer.firstName" type="text" md-autofocus style="color:white"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label style="color:white">Last Name</label>
                            <md-icon md-font-icon="icon-account" style="color:white"></md-icon>
                            <input ng-model="vm.customer.lastName" type="text" style="color:white"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label style="color:white">Mobile</label>
                            <md-icon md-font-icon="icon-cellphone-iphone" style="color:white"></md-icon>
                            <input ng-model="vm.customer.properties.mobile" type="text" style="color:white" />
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" >
                            <label style="color:white">Documents</label>
                            <md-icon md-font-icon="icon-file-document" style="color:white"></md-icon>
                            <input type="text" style="color:white" />
                            <div class="attachment-list" id="attachy" ng-if="vm.files.length > 0">
                                <div class="attachment" layout="row" layout-align="space-between center" ng-repeat="file in vm.files">
                                    <div>
                                        <span class="filename" id="fileName">{{file.name}}</span>
                                    </div>
                                    <md-button class="md-icon-button" aria-label="Delete attachment"
                                                translate-attr-aria-label="MAIL.DELETE_ATTACHMENT" ng-click="vm.removeDocument($index)">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-input-container>

                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button type="submit" ng-click="vm.scanner($event)"
                                   class="send-button md-accent md-raised" aria-label="Scanner">
                            <div>Scan</div>
                        </md-button>

                        <input type="file" id="fileInput" class="ng-hide"/>
                        <md-button ng-click="vm.addDocuments()" value="alert"
                                   class="send-button md-accent md-raised" aria-label="Add Documents">
                            <div><md-icon md-font-icon="icon-box-upload"></md-icon>Add</div>
                        </md-button>
                    </md-card-actions>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button type="submit" ng-click="vm.addNewCustomer()"
                                   class="send-button md-accent md-raised" aria-label="Queue">
                            <div>Queue</div>
                        </md-button>
                        <md-button type="submit" 
                                   class="send-button md-accent md-raised" aria-label="Booking">
                            <div ui-sref="app.mobile.booking">Booking</div>
                        </md-button>
                    </md-card-actions>

                </md-card>
            </div>
        </md-content>
    </div>
</div>