﻿<div layout="row">
    <md-content flex>
        <md-content layout-xs="column" layout="row">
            <md-card>
                <!--<md-subheader class="md-no-sticky">
                    <div class="text-center">
                        <md-toolbar class="md-accent md-small" layout="column">-->
                            <!--<div class="md-toolbar-tools md-toolbar-tools-top" layout="row"
                                 layout-align="center center">
                                <span class="title">Select a service</span>
                            </div>-->
                        <!--</md-toolbar>
                    </div>
                </md-subheader>-->

                <!--<md-card >-->
                    <md-button ng-repeat="service in vm.mobileData.services"
                                ng-click="vm.changeView('step2', service, vm.mobileData.queueMapping[service.id - 1].queueId)" ng-show="vm.isShow"
                                ng-class="vm.animation" class="md-accent md-hue-3">
                        <div layout="row" layout-align="center center">
                            <span>{{ service.internalName }}</span>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-account-multiple"></md-icon>{{vm.mobileData.queueMapping[service.id - 1].customersWaiting}}
                            <md-icon md-font-icon="icon-timer"></md-icon>{{vm.formatTime(vm.mobileData.queueMapping[service.id - 1].waitingTime)}}
                        </div>
                    </md-button>
                </md-card>
            <!--</md-card>-->
        </md-content>
    </div>
</div>
<!--<p>{{vm||json}}</p>-->
