﻿<div layout="row">
    <div flex>
        <md-content class="md-padding">
            <div layout="column">
                <!--<md-switch ng-model="vm.called" aria-label="Call Ticket">
                    Call Ticket:
                </md-switch>-->
                <md-card ng-if="!vm.called">
                    <md-card-content class="content" layout-align="center center">
                        <img src="assets/images/backgrounds/mobile-games.jpg" />
                        <div layout="column" layout-align="center center" class="md-padding">
                            <div class="text-center" style="font-size:23px;">Play a game while you wait: </div>
                            <md-button ui-sref="app.mobile.games({stepIdParam:vm.stepId, branchIdParam:vm.branchId})"
                                       class="send-button md-accent md-raised" aria-label="Games">
                                GAME
                            </md-button>
                        </div>
                </md-card>
                <md-card ng-if="vm.called">
                    <md-card-title class="content">
                        <md-card-title-text>
                            <div class="text-center">
                                <div layout="column" layout-align="center center">
                                    <h1>Go to counter</h1>
                                </div>
                                <div class="md-list-item-text" layout="column" layout-align="center center" ui-sref="app.mobile.cfu">
                                    <h2>5</h2>
                                </div>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="column" layout-align="center center">
                        <div layout="row">
                            <md-button ng-click="vm.comment($event)"
                                       class="send-button md-accent md-raised" aria-label="Comment">
                                Comment
                            </md-button>
                            <md-button ng-click="vm.help($event)"
                                       class="send-button md-accent md-raised" aria-label="Help">
                                Help
                            </md-button>
                        </div>
                    </md-card-actions>
                    <md-card-actions layout="column" layout-align="center center">
                        <div layout="row">
                            <md-button ui-sref="app.mobile.cfu"
                                        class="send-button md-accent md-raised" aria-label="Comment">
                                CFU
                            </md-button>
                        </div>
                    <md-card-actions>
                </md-card>
            </div>
        </md-content>

        <!--<md-list flex>
            <md-toolbar class="md-accent md-small" layout="column">
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row"
                        layout-align="center center">
                    {{vm.MobileData.visit.ticketId}}
                </div>
            </md-toolbar>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column" style="border:solid 2px #d3d3d3">
                    <div class="text-center">
                        <md-icon md-font-icon="icon-timer"></md-icon>Waiting Time:
                    </div>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column" style="border:solid 2px #d3d3d3">
                    <div class="text-center">Play a game while you wait: </div>
                    <md-button ui-sref="app.mobile.games({stepIdParam:vm.stepId, branchIdParam:vm.branchId})"
                                class="send-button md-accent md-raised" aria-label="Games">
                        GAME
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                    <div class="text-center"><h1>Go to counter</h1></div>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ng-click="vm.changeView('step5')">
                <div class="md-list-item-text" layout="column" layout-align="center center" style="border:solid 2px #d3d3d3">
                    <h2>5</h2>
                </div>
            </md-list-item>
            <md-dialog-actions layout="row" layout-align="center center">
                <md-button ng-click="vm.comment($event)"
                            class="send-button md-accent md-raised" aria-label="Comment">
                    Comment
                </md-button>
                <md-button ng-click="vm.help($event)"
                            class="send-button md-accent md-raised" aria-label="Help">
                    Help
                </md-button>
            </md-dialog-actions>
        </md-list>-->
    </div>
</div>