<!-- DIALOG -->
<md-dialog class="game-dialog" aria-label="New Task">

    <form name="gameForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">
            
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">New Game</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <img ng-src="{{vm.gameData.avatar}}" class="md-avatar avatar game-avatar huge"
                         alt="{{vm.gameData.name}}"/>
                    <div class="game-name">{{vm.gameData.name}}</div>
                </div>
            </div>
            <!-- / TOOLBAR MIDDLE -->
            
            <!--  TOOLBAR BOTTOM -->
            <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="space-between center">
                <div flex layout="row" layout-align="center center">                    
                    <md-icon md-font-icon="{{vm.gameData.highscoreFontIcon}}">                        
                    </md-icon>
                    <label>HighScore: {{vm.gameData.highscoreCount}}</label>
                    <md-icon md-font-icon="{{vm.gameData.scoreFontIcon}}">                        
                    </md-icon>
                    <label> Your Score: {{vm.gameData.scoreCount}}</label>                    
                </div>
            </div>
            <!-- / TOOLBAR BOTTOM -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->
        
        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="send-button md-accent md-raised" ng-click="vm.navigateToGame()">                    
                    <md-icon md-font-icon="icon-star" class="amber-fg">                        
                    </md-icon>Play
                </md-button>
            </div>
            <div layout="row">
                <md-button class="send-button md-accent md-raised" ng-click="vm.closeDialog()">                                            
                    Close
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>
            <label>Description:</label>
            <p class="pl-8"
                    ng-style="vm.exists(gameData.description) && {'font-weight':'500'}">
                    {{vm.gameData.description}}
            </p>
            <label>Instructions:</label>
            <p class="pl-8"
                    ng-style="vm.exists(gameData.description) && {'font-weight':'500'}">
                    {{vm.gameData.instructions}}
            </p>            
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->       
    </form>

</md-dialog>
<!-- / DIALOG -->